
$width: 100%;


* 
{
    margin:0;
    padding: 0;
   
}



body, html
{
   background-color: rgb(165, 169, 170);
    
}



nav 
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
    align-items: center;
    padding: 5%;
    padding-top: 20px;

#zalogujWrapper 
{
    display: flex;
    align-items: center;
}


    #topNavMenuBar 
    {
        margin-left: 40px;
    }
    

    span 
    {
        width: 30px;
        height: 30px;
        border: 1px solid black;
        border-radius: 50%;
        background-color: yellow;
        text-align: center;
       line-height: 25px;

    }

    button 
    {
        background-color: transparent;
        border: none;
        padding: 20px;
        color: white;
        opacity: .8;
        font-size: 1.1em;


        &:hover 
        {
            cursor: pointer;
        }

    }


    #topNavRight
    {
        display: flex;
        flex-direction: row;
        
        
    }
    

}

#searchArea
{

display: flex;
flex-direction: row;
width: 80%;
height: 60px;
margin: 0 auto;




div#bing
{
    width: 12%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
  
    


    img 
    {
        width: 60px;
        height: 60px;
    }

    span 
    {
        font-size: 2em;
        color: white;
        margin-left: 5px;
       
    }


}

div#inputArea 
{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 10px;

    input[type=text]
    {
        width: 70%;
        height: 50px;
        border: none;
        outline: none;
        line-height: 50px;


        &:focus 
        {
        
        }

    }

    #spanWrapper

    {
        width: 30%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 15px;

        span 
        {
            &:hover 
            {
                cursor: pointer;
            }
        }

    }

 

}

}


#aboveImgPanel
{

width: 67%;
display: flex;
flex-direction: row;
justify-content: space-between;
margin: 0 auto;
padding-top: 20%;




div {

    display: flex;
    flex-direction: row;
   

 

    span
    {   
       
        width: 40px;
        height: 40px;
        font-size: 38px;
        border: 1px solid white;
        padding: 5px;
        margin: 5px;
        color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
           


        &:hover 
        {
            cursor: pointer;
        }
    
    }

}

}





#imgSection
{
    display: flex;
    flex-direction: row;
   
    width: 100%;
    
    margin: 0 auto;
    margin-top: 20px;


    .imgArrow
    {
        background-color: transparent;
        border: none;
        font-size: 48px;
        align-items: center;
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        

        &:hover 
        {
            cursor: pointer;
        }
     

    }


    div 
    {
        width: 20%;
        height: auto;
   
        border: 1px solid  rgba(35, 34, 34, 0.3);
        border-radius: 5px;
        margin: 5px;
        
        background-color: rgba(35, 34, 34, 0.3);
        display: flex;
        flex-direction: row;

        span 
        {
            width: 60%;
            padding-top: 50px;
        }



        figure {

            display: table;
            width: 40%;
           

           


            img 
            {
                width: 80px;
                height: 90px;
                padding-left: 5px;
                
                padding-top: 10px;
                

                &:hover 
                {
                    cursor: pointer;

                }


               
            }
    

            figcaption {
                display: table-caption;
                caption-side: top;
                padding: 3px;
                padding-top: 4px;
              }



        } 
      
    





    }


}


footer 
{
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-around;
    width: $width;
    background-color: rgba(35, 34, 34, 0.3);


    a 
    {
        width: auto;
        opacity: .7;

        &:hover 
        {
            cursor: pointer;
            opacity: 1;
        }
    }
    
}

