* {
  margin: 0;
  padding: 0;
}

body, html {
  background-color: #a5a9aa;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5%;
  padding-top: 20px;
}

nav #zalogujWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav #topNavMenuBar {
  margin-left: 40px;
}

nav span {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: yellow;
  text-align: center;
  line-height: 25px;
}

nav button {
  background-color: transparent;
  border: none;
  padding: 20px;
  color: white;
  opacity: .8;
  font-size: 1.1em;
}

nav button:hover {
  cursor: pointer;
}

nav #topNavRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#searchArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80%;
  height: 60px;
  margin: 0 auto;
}

#searchArea div#bing {
  width: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#searchArea div#bing img {
  width: 60px;
  height: 60px;
}

#searchArea div#bing span {
  font-size: 2em;
  color: white;
  margin-left: 5px;
}

#searchArea div#inputArea {
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid transparent;
  border-radius: 10px;
}

#searchArea div#inputArea input[type=text] {
  width: 70%;
  height: 50px;
  border: none;
  outline: none;
  line-height: 50px;
}

#searchArea div#inputArea #spanWrapper {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
}

#searchArea div#inputArea #spanWrapper span:hover {
  cursor: pointer;
}

#aboveImgPanel {
  width: 67%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding-top: 20%;
}

#aboveImgPanel div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#aboveImgPanel div span {
  width: 40px;
  height: 40px;
  font-size: 38px;
  border: 1px solid white;
  padding: 5px;
  margin: 5px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#aboveImgPanel div span:hover {
  cursor: pointer;
}

#imgSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}

#imgSection .imgArrow {
  background-color: transparent;
  border: none;
  font-size: 48px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#imgSection .imgArrow:hover {
  cursor: pointer;
}

#imgSection div {
  width: 20%;
  height: auto;
  border: 1px solid rgba(35, 34, 34, 0.3);
  border-radius: 5px;
  margin: 5px;
  background-color: rgba(35, 34, 34, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#imgSection div span {
  width: 60%;
  padding-top: 50px;
}

#imgSection div figure {
  display: table;
  width: 40%;
}

#imgSection div figure img {
  width: 80px;
  height: 90px;
  padding-left: 5px;
  padding-top: 10px;
}

#imgSection div figure img:hover {
  cursor: pointer;
}

#imgSection div figure figcaption {
  display: table-caption;
  caption-side: top;
  padding: 3px;
  padding-top: 4px;
}

footer {
  position: fixed;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  background-color: rgba(35, 34, 34, 0.3);
}

footer a {
  width: auto;
  opacity: .7;
}

footer a:hover {
  cursor: pointer;
  opacity: 1;
}
/*# sourceMappingURL=sass.css.map */